<app-header tagline="Examples"></app-header>

<section class="main-content">

    <h3><a id="minimal" class="anchor" href="#minimal" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>Minimal</h3>
    <app-minimal-component></app-minimal-component>

    <h3><a id="basic" class="anchor" href="#basic" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>Basic</h3>
    <app-basic-component></app-basic-component>

    <h3><a id="comprehensive" class="anchor" href="#comprehensive" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>Comprehensive</h3>
    <app-comprehensive-component></app-comprehensive-component>

</section>