@import '~ngx-toastr/toastr';
@import '~highlight.js/scss/dark';
@import "./assets/theme";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}


.whiteboard-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 2px dashed #ccc;
}

.demo {
  width: 100%;
  height: 768px;
  border: 2px dashed #ccc;
  background: #fff;
  overflow: hidden;
  position: relative;
}