<app-header tagline="Quick Start & Demo"></app-header>
<section class="main-content">
  <h2 id="getting-started">🚀 Getting Started</h2>
  <p>Hello and Welcome!</p>

  <h3 id="installation">📦 Installation</h3>
  <p>The library is available as an npm package. You can install it using one of the following commands:</p>

  <pre><code class="bash">npm install ng-whiteboard --save</code></pre>

  <p>or with Yarn:</p>

  <pre><code class="bash">yarn add ng-whiteboard --save</code></pre>

  <p>
    This command will add the package to your <code>package.json</code> and install it in the
    <code>node_modules</code> folder.
  </p>

  <h3 id="minimal-setup">⚡ Minimal Setup Example</h3>
  <p>First, import the <code>NgWhiteboardModule</code> in your module:</p>

  <pre><code class="typescript">{{libraryImportCode}}</code></pre>

  <p>Then, add it to the imports list in your module:</p>

  <pre><code class="typescript">{{NgModuleCode}}</code></pre>

  <p>Finally, add the <code>ng-whiteboard</code> component to your template:</p>

  <pre><code class="html">&lt;ng-whiteboard&gt;&lt;/ng-whiteboard&gt;</code></pre>

  <p>At this step, you have a minimal whiteboard ready to use. It should look like this:</p>

  <div class="whiteboard-container">
    <ng-whiteboard></ng-whiteboard>
  </div>

  <p>📖 Full component documentation is available <a href="/documentation">here</a>.</p>
  <p>📌 More examples can be found <a href="/examples">here</a>.</p>
</section>
