<app-header tagline="Lightweight angular whiteboard."></app-header>

<section class="main-content">

    <h3><a id="demo" class="anchor" href="#demo" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>Minimal Demo</h3>

    <div class="whiteboard-container">
       <ng-whiteboard></ng-whiteboard>
    </div>

    <h3><a id="features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>Features</h3>
    <ul>
        <li>Supports touch</li>
        <li>Custom colors</li>
        <li>Custom background colors</li>
        <li>Custom stroke size</li>
        <li>Add images</li>
        <li>Save drawn as (svg | png | jpeg | base64) images</li>
        <li>Experimental (undo-redo)</li>
    </ul>

    <h3><a id="free" class="anchor" href="#free" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>License</h3>

    <p>ng-whiteboard is under MIT license. That basically means you can use it as you want to.</p>

    <h3><a id="support" class="anchor" href="#support" aria-hidden="true"><span aria-hidden="true"
                class="octicon octicon-link"></span></a>Contributing</h3>

    <p>The project is open for contributors.</p>
    <p>You can Create pull requests, submit bugs, suggest new features.</p>
    <p>If you like it give it a star on <a href="https://github.com/mostafazke/ngwhiteboard" target="_blank">GitHub</a>.</p>
</section>